@font-face{
    font-family: 'moonlessFont';
    src: url('/Ubuntu/home/namxada/aa-projects/first-website/fonts/moonless-sc-webfontkit/moonlesssc-regular_1-webfont.woff') format('woff');
}

@font-face{
    font-family: 'pompiereFont';
    src: url('/Ubuntu/home/namxada/aa-projects/first-website/fonts/pompiere-webfontkit/pompiere-regular-webfont.woff') format('woff');
}

.navbar{
    width: 100%;
    list-style-type: none;
    font-family: 'moonlessFont';
    font-weight: bold;
    font-size: x-large;
    display: inline-flex;
    justify-content: space-around;
    font-style: white;
    background-color: #7ad6b1;
    padding: 1em;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    background-color: white;
    color: #7ad6b1;
    padding: 1em;
}

a:active{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: 'moonlessFont';
    font-weight: bold;
    font-size: 72px;
    color: #6c7a78;
}

h2{
    font-family: 'moonlessFont';
    font-weight: bold;
    font-size: 50px;
    color: #6c7a78;
}

.backstory{
    width: 1200px;
}

.personality{
    width: 1200px;
}

.toys{
    width: 1200px;
}

p{
    font-family: 'pompiereFont';
    font-size: 22px;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

legend{
    font-family: 'moonlessFont';
    font-weight: bold;
    font-size: 50px;
    color: #6c7a78;
}

label{
    font-family: 'pompiereFont';
    font-size: 24px;
}

input{
    margin: 1em;
    font-family: 'pompiereFont';
    font-size: 20px;
}


#commentbox{
    font-family: 'pompiereFont';
    font-size: 20px;
    max-width: 500px;
}

#submit{
    border: 1px solid black;
    font-family: 'pompiereFont';
    font-size: 20px;
    padding: 0.2em 1em;
    margin: 1em;
}

#submit:hover{
    border: 1px solid white;
    font-family: 'pompiereFont';
    font-size: 20px;
    color: white;
    background-color: #7ad6b1;
}

#submit:active{
    border: 1px solid #6c7a78;
    font-family: 'pompiereFont';
    font-size: 20px;
    color: #6c7a78;
    background-color: #7ad6b1;
}

.checks{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#checkyes{
    margin: 0.5em;
    margin-left: 0;
}

input#checkno{
    margin: 0.5em;
    margin-left: 3em;
}
